<!DOCTYPE html>
<html lang="en">
<%- include('head') %>
<body>
    <%- include('header') %>
    <main>
        <h2>Create a new post</h2>
        <form action="/posts/new" method="POST">
            <label for="title">Title</label>
            <input name="title" type="text" placeholder="Post title" value="<%= fields.title || "" %>"/>
            <div class="error"><%= errors.title ? errors.title.msg : "" %></div>
            <label for="text">Text</label>
            <textarea name="text" placeholder="Start writing here" rows="5" cols="30"><%= fields.text || "" %></textarea>
            <div class="error"><%= errors.text ? errors.text.msg : "" %></div>
            
            <div class="buttonContainer">
                <button>Post</button>
                <a href="/posts" class="button">Cancel</a>
            </div>
        </form>
    </main>
</body>
</html>