<!DOCTYPE html>
<html lang="en">
<%- include('head') %>
<body>
    <%- include('header') %>
    <main>
        <h2>Posts</h2>
        <section class="postSection">
            <% posts.forEach(post => { %>
                <% time = post.timestamp.toLocaleTimeString('en-US', { hour: 'numeric', minute: '2-digit', hour12: true }) %>
                <% date = post.timestamp.toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }) %>
                <div class="post">
                    <div class="profileSection">
                        <div class="name"><%= post.name %></div>
                        <div class="username">@<%= post.username %></div>
                        <div style="background-color: <%= post.color %>" class="profile"><%= post.username.includes('User-') ? '✻' : post.username[0] %></div>
                        <div class="status"><%= post.admin ? "Admin" : post.member ? "Member" : "Guest" %></div>
                    </div>
                    <div class="messageSection">
                        <div class="postTitle"><%= post.title %></div>
                        <div class="timestamp"><%= time %>, <%= date %></div>
                        <p class="postText"><%= post.text %></p>

                        <% if (locals.user && ( user.admin || user.id === post.author_id)) { %>
                            <div class="adminButtons">
                                <a href="/posts/<%= post.id %>/edit" class="button">
                                    <span class="material-icons">edit</span>
                                </a>
                                <form action="/posts/<%= post.id %>/delete" method="POST">
                                    <button onclick="check(event)" class="button delete">
                                        <span class="material-icons">close</span>
                                    </button>
                                </form>
                            </div>
                        <% } %>
                    </div>
                </div>
            <% }) %>
        </section>
    </main>
</body>
<script>
    let check = (e) => {
        if (!confirm('Are you sure you want to delete this post?')) e.preventDefault()
    }
</script>
</html>