<!DOCTYPE html>
<html lang="en">
<%- include('head') %>
<body>
    <%- include('header') %>
    <p>Posts</p>
    <% posts.forEach(post => { %>
        <% time = post.timestamp.toLocaleTimeString('en-US', { hour: 'numeric', minute: '2-digit', hour12: true }) %>
        <% date = post.timestamp.toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }) %>
        <div class="post">
            <div><%= post.name %></div>
            <div>@<%= post.username %></div>
            <div><%= post.member ? "Member" : "Guest" %></div>
            <div><%= post.title %></div>
            <div><%= time %>, <%= date %></div>
            <div><%= post.text %></div>
            <div><%= post.author_id %></div>
            <% if (locals.user && ( user.admin || user.id === post.author_id)) { %>
                <a href="/posts/<%= post.id %>/edit">Edit</a>
                <form action="/posts/<%= post.id %>/delete" method="POST">
                    <button onclick="check(event)">Delete</button>
                </form>
            <% } %>
        </div>
    <% }) %>
</body>
<script>
    let check = (e) => {
        if (!confirm('Are you sure you want to delete this post?')) e.preventDefault()
    }
</script>
</html>