<!DOCTYPE html>
<html lang="en">
<%- include('head') %>
<body>
    <%- include('header') %>
    <main>
        <h2>Sign Up</h2>
        <form action="/sign-up" method="POST" autocomplete="off">
            <label for="first">First Name</label>
            <input name="first" type="text" placeholder="First" value="<%= fields.first || "" %>"/>
            <div class="error"><%= errors.first ? errors.first.msg : "" %></div>
            <label for="last">Last Name</label>
            <input name="last" type="text" placeholder="Last" value="<%= fields.last || "" %>"/>
            <div class="error"><%= errors.last ? errors.last.msg : "" %></div>
            <label for="username">Username</label>
            <input name="username" type="text" placeholder="Username" value="<%= fields.username || "" %>"/>
            <div class="error"><%= errors.username ? errors.username.msg : "" %></div>
            <label for="password">Password</label>
            <input name="password" type="password" placeholder="Password" value="<%= fields.password || "" %>"/>
            <div class="error"><%= errors.password ? errors.password.msg : "" %></div>
            <label for="confirm">Confirm Password</label>
            <input name="confirm" type="password" placeholder="Confirm your password" value="<%= fields.confirm || "" %>"/>
            <div class="error"><%= errors.confirm ? errors.confirm.msg : "" %></div>
            <button>Sign Up</button>
        </form>
        <p>Have an account already? <a href="/log-in" class="authLink">Log In</a></p>
    </main>
</body>
</html>