<!DOCTYPE html>
<html lang="en">
<%- include('head') %>
<body>
    <%- include('header') %>
    <main>
        <h2>Sign Up</h2>
        <form action="/sign-up" method="POST" autocomplete="off">
            <div class="nameInput">
                <div>
                    <label for="first">First name</label>
                    <input name="first" type="text" placeholder="First name" value="<%= fields.first || "" %>"/>
                    <div class="error"><%= errors.first ? errors.first.msg : "" %></div>
                </div>
                <div>
                    <label for="last">Last name</label>
                    <input name="last" type="text" placeholder="Last name" value="<%= fields.last || "" %>"/>
                     <div class="error"><%= errors.last ? errors.last.msg : "" %></div>
                </div>
            </div>

            <label for="username">Username</label>
            <input name="username" type="text" placeholder="Username" value="<%= fields.username || "" %>"/>
            <div class="error"><%= errors.username ? errors.username.msg : "" %></div>
            
            <label for="password">Password</label>
            <div class="passwordContainer">
                <input name="password" type="password" placeholder="Password" id="password" value="<%= fields.password || "" %>"/>
                <button type="button" data-toggle="password" class="togglePassword">
                    <span id="passwordIcon" class="material-icons">visibility</span>
                </button>
            </div>
            <div class="error"><%= errors.password ? errors.password.msg : "" %></div>
            
            <label for="confirm">Confirm Password</label>
            <div class="passwordContainer">
                <input name="confirm" type="password" placeholder="Confirm your password" id="confirm" value="<%= fields.confirm || "" %>"/>
                <button type="button" data-toggle="confirm" class="togglePassword">
                    <span id="confirmIcon" class="material-icons">visibility</span>
                </button>
            </div>
            <div class="error"><%= errors.confirm ? errors.confirm.msg : "" %></div>
            
            <button>Sign Up</button>
        </form>
        <p>Have an account already? <a href="/log-in" class="authLink">Log In</a></p>
    </main>

    <script>
        const $ = (id) => document.getElementById(id)

        document.addEventListener('click', (e) => {
            const toggleId = e.target.dataset.toggle

            if (toggleId) {
                const type = $(toggleId).getAttribute('type') === 'password' ? 'text' : 'password'
                $(toggleId).setAttribute('type', type)

                const icon = $(toggleId + 'Icon').innerHTML === 'visibility' ? 'visibility_off' : 'visibility'
                $(toggleId + 'Icon').innerHTML = icon
            }
        })

    </script>
</body>
</html>